@charset "utf-8";
*{
    padding: 0;
    margin:0;
}
body{
    font-size: 15px;
}
.list-bg{
    width: 100%;
    max-width: 1000px;
    margin:0 auto;
    height: 100%;
}

.blog{
    border: 1px solid #ccc;
    border-radius: 10px;
    margin:10px 0 10px 0;
    width: 100%;
    padding: 10px;
    position: relative;
    min-height: 160px;
}

.blog .blog-left{
    display: inline-block;
    position: absolute;
    width: 200px;
    height: 150px;
    top:10px;
    left: 10px;
    border: 1px solid #eee;
    border-radius: 10px;
}

.blog .blog-right{
    display: inline-block;
    margin-left: 230px;
}

.blog-right h1{
}

.blog-right .mid{
    padding: 10px 0;
}

.blog-right .mid p{
    display: inline-block;
    margin-right: 30px;
}

.blog-right .tag span{
    display: inline-block;
    border-radius: 5px;
    background: #eee;
    margin: 5px 10px 5px 0;
    padding: 5px 10px;
    color: blue;
}









